<a href="https://colab.research.google.com/github/rajeshr6r/EMEAPythonTraining/blob/main/Day1_HelloWorld.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Welcome to Python Programming** . <br> Here are set of simple commands for you to run and practice. Please feel free to edit the commands and play around.

In [41]:
print("Hello world to Python Programming")
print("This is the second line ")

Hello world to Python Programming
This is the second line

In [42]:
print('a'*9)

aaaaaaaaa

In [43]:
# Some silly printing of characters
for i in range(10,0,-1):
  print("a"*i)
for i in range(0,10,1):
  print("a"*i)

aaaaaaaaaa
aaaaaaaaa
aaaaaaaa
aaaaaaa
aaaaaa
aaaaa
aaaa
aaa
aa
a

a
aa
aaa
aaaa
aaaaa
aaaaaa
aaaaaaa
aaaaaaaa
aaaaaaaaa

In [ ]:
for i in range(10,1,-2):
  print(f"Length is {len('*'*i)}",'*'*i)

In [ ]:
for i in range(1,10,2):
  print(f"Length is {len('*'*i)}",'*'*i)

In [44]:
mytuple= tuple (['a','b','c','d','a'])

In [45]:
mytuple

('a', 'b', 'c', 'd', 'a')

In [4]:
len(mytuple)

5

In [46]:
mydictionary = dict(zip(["a","a","c"],["1","w","1"]))

In [47]:
mydictionary

{'a': 'w', 'c': '1'}

In [48]:
myset = {1,1,1,2,3,4,5,6}

In [14]:
print(myset)

{1, 2, 3, 4, 5, 6}

In [15]:
myset.add("a")

In [16]:
print(myset)

{1, 2, 3, 4, 5, 6, 'a'}

In [17]:
myfrozenset = frozenset(myset)

In [50]:
"""
Name of the function : cuberoot
Variables needed : integer
What is returned : cube root of the integer supplied
"""
def cuberoot(x):
  return f" The cuberoot of {x} is {x*x*x}"

In [22]:
for number in range (1,20,2):
  print(cuberoot(number))

 The cuberoot of 1 is 1
 The cuberoot of 3 is 27
 The cuberoot of 5 is 125
 The cuberoot of 7 is 343
 The cuberoot of 9 is 729
 The cuberoot of 11 is 1331
 The cuberoot of 13 is 2197
 The cuberoot of 15 is 3375
 The cuberoot of 17 is 4913
 The cuberoot of 19 is 6859

In [24]:
for number in range (1,20,1):
  print(cuberoot(number))

 The cuberoot of 1 is 1
 The cuberoot of 2 is 8
 The cuberoot of 3 is 27
 The cuberoot of 4 is 64
 The cuberoot of 5 is 125
 The cuberoot of 6 is 216
 The cuberoot of 7 is 343
 The cuberoot of 8 is 512
 The cuberoot of 9 is 729
 The cuberoot of 10 is 1000
 The cuberoot of 11 is 1331
 The cuberoot of 12 is 1728
 The cuberoot of 13 is 2197
 The cuberoot of 14 is 2744
 The cuberoot of 15 is 3375
 The cuberoot of 16 is 4096
 The cuberoot of 17 is 4913
 The cuberoot of 18 is 5832
 The cuberoot of 19 is 6859

In [25]:
mylistof4divisibles = list(map(lambda x: x*x if (x%4==0) else x,range(1,20)))

In [26]:
mylistof4divisibles

[1, 2, 3, 16, 5, 6, 7, 64, 9, 10, 11, 144, 13, 14, 15, 256, 17, 18, 19]

In [28]:
print(list(map(lambda x: cuberoot(x) if (x%5==0) else "A",range(1,20))))

['A', 'A', 'A', 'A', ' The cuberoot of 5 is 125', 'A', 'A', 'A', 'A', ' The cuberoot of 10 is 1000', 'A', 'A', 'A', 'A', ' The cuberoot of 15 is 3375', 'A', 'A', 'A', 'A']

In [51]:
#Palindrome program
#Try to write a program to determine whether a given sequence of characters is a palindrome or not

"""
# Steps :
1. Accept input
2. Check the characters from start
3. Check the characters from the end and validate if they are equal to the sequence in step 2
4. If yes return palindrome else return not a palindrome
"""

SyntaxError: incomplete input (<ipython-input-51-991429ff1760>, line 4)

In [54]:
pl1 = "mod"

In [58]:
pl2 = "mom"

In [59]:
pl1==pl2

False

In [64]:
def isPalindrome(s):
    return s == s[::-1]


# Driver code
s = "ASANTAATNASA"
ans = isPalindrome(s)

if ans:
    print("Yes")
else:
    print("No")

Yes