<a href="https://colab.research.google.com/github/rajeshr6r/EMEAPythonTraining/blob/main/Day2_DataTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Objectives

* Understand that variables can hold any information - but needs to know the 'type'
* Know the most commonly used built-in Python data types
* Explain the differences between `int` and `float` variables
* Convert between data types

## Data Types

So far we've said that variables store information or data. But Python needs to know what 'type' of data a variable is in order to understand that data.

For example, Python (and hopefully you) thinks that it's perfectly okay to multiply two numbers together but not two words!

Python has a large number of types but for now we will consider only three:

* `int` or integers (whole numbers)
* `float` or floats (numbers with decimal information)
* `str` or character strings, i.e. text
  * Note that strings are always delimited by `'` or `"`

Python also has a built-in function that will tell you what type some data is.

<div style="border: 3px solid #1b9e77; border-radius: 5px; padding: 10pt"><strong>Task 3.1:</strong> Read the next cell and predict what the five outputs will be - then run the cell.
<br/>
</div>

In [3]:
print(type(42)) # int

print(type("42")) # str

print(type(42.0)) # double / float

the_meaning_of_life = 42

print(type(the_meaning_of_life)) # int

<class 'int'>
<class 'str'>
<class 'float'>
<class 'int'>

<div style="border: 3px solid #d95f02; border-radius: 5px; padding: 10pt"><strong>Exercise 3.2:</strong> What type of values might you use for the following:
<ul>
    <li>Value of pi</li>
    <li>Time since the start of an experiment (what unit might you use?)?</li>
    <li>Unique identifier for an animal?</li>
    <li>The name of a data file?</li>
</ul>
</div>

## Operations and Types

All operators, methods and functions will only work on specific data types. Or, perhaps more confusingly, will act differently on different data types.

<div style="border: 3px solid #1b9e77; border-radius: 5px; padding: 10pt"><strong>Task 3.3:</strong> Create a new code cell below this one for each of the following:
    <ol>
        <li>add (using <code>+</code>) an <code>int</code> with a different <code>int</code></li>
        <li>add an <code>int</code> with a <code>float</code></li>
        <li>add a <code>str</code> with a different <code>str</code></li>
        <li>add a <code>str</code> with an <code>int</code></li>
    </ol>
</div>

# How the asterisk operator behaves differently with a string vs a number

In [27]:
print('&'*8) # character will be printed by the multipled number
print(8*8) # the result of the multiplication

&&&&&&&&
64

In [36]:
print(8+8) #
print(8+7.46)

16
15.46

### Mixing `int` and `float`

In some scenarios it makes sense to mix `float` and `int` data in our calculations.

For example, if dinner costs Â£141.24 (a `float`) and we want to split the bill amongst 6 people (an `int`) Python can do that. In the background it sees that we're mixing `float` and `int` variables and converts everything to `float`.

<div style="border: 3px solid #1b9e77; border-radius: 5px; padding: 10pt"><strong>Task 3.4:</strong> Complete the next cell to work out the cost of dinner per person. What type is the output of your calculation?
<br/>
 </div>

In [15]:
total_cost = 141.24

number_of_people = 6

cost_per_person = total_cost / number_of_people

print(round(cost_per_person,2)) # chaining of functions

23.54

In [48]:
total_cost = 120
print(type(total_cost))
number_of_people = 6
print(type(number_of_people))
cost_per_person_modular = total_cost // number_of_people # modular division
cost_per_person = total_cost / number_of_people # regular division

print(cost_per_person,type(cost_per_person)) # rounding to 2 decimals using round function
print(round(cost_per_person,2),type(round(cost_per_person,2))) # datatype not being changed
print(f"{cost_per_person:.3f}",type(f"{cost_per_person:.3f}")) #  datatype being changed

<class 'int'>
<class 'int'>
20.0 <class 'float'>
20.0 <class 'float'>
20.000 <class 'str'>

<div style="border: 3px solid #d95f02; border-radius: 5px; padding: 10pt"><strong>Exercise 3.5:</strong> Python allows two types of division: <code>/</code> and <code>//</code>. Create a new code cell below and try both types. Create a new Markdown cell and describe the difference between the two types of division.
<br/>
</div>

In [25]:
# Demonstration of dynamic types in python
myvalue = 14
# The value of the variable myvalue is 1
# print ("The value of the variable myvalue is " + str(myvalue)) # concatenation
print (f"The value of the variable myvalue is {myvalue} and its data type is {type(myvalue)}") # 1
myvaluerevised = myvalue / 3
myvalue= myvaluerevised
print (f"The value of the variable myvaluerevised is {myvaluerevised} and its data type is {type(myvaluerevised)}") # 2
print (f"The value of the variable myvalue is {myvalue} and its data type is {type(myvalue)}") # 3
myvalue="Python"
print (f"The value of the variable myvalue is {myvalue} and its data type is {type(myvalue)}") # 4

The value of the variable myvalue is 14 and its data type is <class 'int'>
The value of the variable myvaluerevised is 4.666666666666667 and its data type is <class 'float'>
The value of the variable myvalue is 4.666666666666667 and its data type is <class 'float'>
The value of the variable myvalue is Python and its data type is <class 'str'>

## Functions and Types

And what about functions, like `len()`?

<div style="border: 3px solid #1b9e77; border-radius: 5px; padding: 10pt"><strong>Task 3.6:</strong> Create a new code cell below this one and print the length (<code>len()</code>) of a variable that holds a float.
What does the <code>TypeError</code> mean? Create a new Markdown cell and describe, in words you understand, what has gone wrong here.
<br/>
<!--When you've done this, or if you get stuck, see the video <a href='https://youtu.be/mrtTnlJ3Prs'>here</a> for a walkthrough.--></div>

In [34]:
myvariable1 = 123456
# print(f"length of myvariable1 is {len(myvariable1)}")
myvariable2 = {"a":"b","a":"c"} # need to check this
print(f"length of myvariable2 is {len(myvariable2)}")
myvariable3 = "EMEAPython"
print(f"length of myvariable3 is {len(myvariable3)}")

length of myvariable2 is 1
length of myvariable3 is 10

## `f`ormatting variables

We've shown in the above exercise that functions work on specific types but how do variable types impact formatted printing of our data?

As a reminder, in the previous notebook we defined four variables: `age`, `first_name`, `last_name` and `shoe_size` and we printed them with some formatting.

<div style="border: 3px solid #1b9e77; border-radius: 5px; padding: 10pt"><strong>Task 3.7:</strong> Run the following code cell. The variables are not shared between different notebooks so you need to initialise them again.
<br/>
<!--When you've done this, or if you get stuck, see the video <a href='https://youtu.be/HrL71GHOEa4'>here</a> for a walkthrough.--></div>

In [37]:
age = 89.09
first_name = "John"
last_name = "Smith"
shoe_size = "9"
print(f"{first_name} {last_name} is {age} years old.")

John Smith is 89.09 years old.

In this scenario, Python has guessed that `first_name` and `last_name` are `str` and that `age` is an `int`.

But what if age was a float?

And what if we wanted to print the integer number of years from that float?

<div style="border: 3px solid #1b9e77; border-radius: 5px; padding: 10pt"><strong>Task 3.8:</strong> In the following cell, assign a new float value to <code>age</code> that is your exact age (or there abouts - use at least 5 decimal places). Then run the cell, what is the output when this new age is printed?
<br/>
<!--When you've done this, or if you get stuck, see the video <a href='https://youtu.be/RZtaCoCkIRQ'>here</a> for a walkthrough.--></div>

In [ ]:
age =

print(f"{first_name} {last_name} is {age} years old.")

As you can see, Python now interprets `age` as a `float`, which it is.

In order to print just the integer number of years we can take two approaches:

1. We can modify our data and round age to the nearest whole number and there are a few ways to do that in Python *but* this changes our data and we just want to print it in a formatted way.
2. We can modify the brackets in our `f`-string to tell Python how to format the value. And this is what we'll do.

Inside the braces (`{` and `}`) of an `f`-string we can put extra information that tells Python what data type we're passing and how we want Python to treat it.

The syntax for providing additional formatting information is to follow the variable number with a colon (`:`) and the formatting specifiers. To tell Python that this variable is a `float` we use `f` and to tell it that we want zero decimal places we use `.0`. Note that type (here `f`) always comes at the end.

Altogether `{age}` becomes `{age:.0f}`.

<div style="border: 3px solid #1b9e77; border-radius: 5px; padding: 10pt"><strong>Task 3.9:</strong> Run the next cell. Change the number after the decimal to print your age to two decimal places - don't forget to rerun the cell.
<br/>

</div>

In [40]:
print(f"{first_name} {last_name} is {age:.0f} years old.")
print(f"{first_name} {last_name} is {age:.3f} years old.")

John Smith is 89 years old.
John Smith is 89.090 years old.

Now, you might like to add more decimal places to the displayed age. To do that write number of decimal places after dot: `2.1f` for one decimal, `2.2f` for two.
You can also display `int` with decimal points if you choose to, by formatting them as floats!

Usually, you will be formatting floats to a given number of decimals places so we won't cover any other formatting options in this course.

<div style="border: 3px solid #d95f02; border-radius: 5px; padding: 10pt"><strong>Exercise 3.11:</strong> You can display an integer with <code>f"My number is {7:d}"</code> but you cannot use it to convert a floating point number, e.g. <code>f"My number is {7.7:d}"</code> .
In a new cell try this code and then correct it to display the floating point number with no decimal places.
<br/>
</div>

<div style="border: 3px solid #d95f02; border-radius: 5px; padding: 10pt"><strong>Exercise 3.12:</strong> Refer to <a href=https://docs.python.org/3/library/string.html>Python's documentation on strings</a>. Create a new cell below and display the variable <code>strange_value=0.34567</code> as a percentage with one decimal place using <code>f</code>-strings.
<br/>
</div>

<div style="border: 3px solid #d95f02; border-radius: 5px; padding: 10pt"><strong>Exercise 3.13:</strong> Refer to <a href=https://docs.python.org/3/library/string.html>Python's documentation on strings</a>. Create a new cell below and display the variable <code>e = 2.7182818284</code> with four decimal places and a sign (i.e. $+2.7182$) using <code>f</code>-strings.
<br/>
</div>

## Key Points

* Data has a type
* The built-in Python function `type()` will tell you the type of some data
* Types act differently under different operators, functions and methods
* Some functions will not work on some types - the error messages should make this clear
* `f`-strings allow you to format data of specific types in specific ways